@import "tailwindcss";

:root {
    --onyx: #00120B;
    --slate: #35605a;
    --gray: #6b818c;
    --lavender: #d8e4ff;
    --green: #31e981;
}

body {
    margin: 0;
    font-family: "Roboto Slab", Monospace;
    background-color: var(--onyx);
    color: var(--lavender);
    font-size: 1.25rem;
}

a {
    color: var(--green);
}